body {  background-color: black;
        overflow: hidden;
        height: 100vh;}
.blink { animation: ablink 5s 1s both;}
@keyframes ablink {
    from {filter: brightness(100%); }
    to {filter: brightness(0);  }
}
h1 { 
    color: red;
    text-align: center;}
.txt2 {
    position: relative;
    text-align: center;
}
.Dtxt2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
img.F {
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 30%;
    transform: translate(-50%, 45%);
}
.ani { animation: file 2s backwards, Mleft 2s 2s forwards ;}
img:hover.F {
    cursor: pointer;
}
img.Fu {
    position: absolute;
    width: 5%;
    right: 1%;
    bottom: 2%;
    opacity: 20%;  
}
img.Fu:hover {
    opacity: 100%;
    cursor: pointer;
}

@keyframes file {
    from { rotate: 0deg;
           transform: translate(-50%, 45%);
           bottom: 50%;
           left: 50%;
            width: 30%; }
    to  { rotate: 90deg;
           transform: translate( 0%, 20%);
           bottom: 0%;
           left: 0%;
        width: 100vh; }
}
@keyframes Mleft {
    from {  left: 0%;
            rotate: 90deg;
            transform: translate( 0%, 20%);
            bottom: 0%;
            width: 100vh;  }

    to   {  left: 0;
            rotate: 90deg;
            transform: translate( 0%, 65%);
            bottom: 0%;
            width: 100vh;  }
}